<div class="sheet-header flexrow">
  <div class="profile-img">
    <img
      src="{{actor.img}}"
      data-action="show-image"
      alt="{{actor.name}}"
      title="Show Party Image"
    />
    {{#if isOwner}}
    <input type="file" name="img" accept="image/*" title="Change Party Image" />
    {{/if}}
  </div>

  <div class="header-fields flexcol">
    <div class="flexrow">
      <h1 class="actor-name">
        {{#if isEditable}}
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Party Name"
        />
        {{else}} {{actor.name}} {{/if}}
      </h1>
    </div>

    <div class="party-stats flexrow">
      <div class="party-stat">
        <label>{{localize "WH.ui.members"}}</label>
        <div class="stat-value">{{stats.memberCount}}</div>
      </div>

      <div class="party-stat">
        <label>{{localize "WH.ui.averageLevel"}}</label>
        <div class="stat-value">{{stats.averageLevel}}</div>
      </div>

      <div class="party-stat">
        <label>{{localize "WH.ui.totalHP"}}</label>
        <div class="stat-value">{{stats.currentHP}}/{{stats.totalHP}}</div>
        <div class="stat-bar">
          <div class="stat-fill" data-percentage="{{stats.hpPercentage}}"></div>
        </div>
      </div>

      <div class="party-stat">
        <label>{{localize "WH.ui.totalMana"}}</label>
        <div class="stat-value">{{stats.currentMana}}/{{stats.totalMana}}</div>
        <div class="stat-bar">
          <div
            class="stat-fill mana"
            data-percentage="{{stats.manaPercentage}}"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-actions flexcol">
    {{#if isOwner}}
    <button
      type="button"
      class="party-action"
      data-action="rest-party"
      data-rest-type="short"
    >
      <i class="fas fa-bed"></i> {{localize "WH.ui.partyShortRest"}}
    </button>
    <button
      type="button"
      class="party-action"
      data-action="rest-party"
      data-rest-type="long"
    >
      <i class="fas fa-moon"></i> {{localize "WH.ui.partyLongRest"}}
    </button>
    <button type="button" class="party-action" data-action="distribute-xp">
      <i class="fas fa-star"></i> {{localize "WH.ui.distributeXP"}}
    </button>
    {{/if}}
  </div>
</div>
